@model dynamic
<h2>Employer Dashboard</h2>
<div class="row"><div class="col-md-4"><div class="card p-3">Jobs Posted: @Model.TotalJobsPosted</div></div><div class="col-md-4"><div class="card p-3">Applications: @Model.TotalApplicationsReceived</div></div></div>
